<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <th:block th:include="partials/head :: head-links"></th:block>
</head>
<body>
<nav th:replace="partials/homenav :: homenav"></nav>
<div class="container">
    <div class="card px-5 pb-5 pt-4 mt-5">
        <h1 class="mb-3">Log In</h1>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">E-mail: </label>
                <input id="username" name="username" type="text" class="form-control" autofocus required/>
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input id="password" name="password" type="password" class="form-control" autofocus required/>
            </div>
            <button type="submit" class="btn btn-block btn-problem btn-primary mb-3">Log In</button>
            <a th:href="@{/sign-up}"><p>Don't have an account? Sign up here!</p></a>
        </form>
    </div>
</div>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>