<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BrainDump</title>
    <th:block th:include="partials/head :: head-links"></th:block>
</head>
<body>
<nav th:replace="partials/topnav :: topnav"></nav>
<div th:replace="partials/sidenav :: sidenav"></div><h1 style="text-align: center">What do you need to do?</h1>
<main class="main container">
    <form action="/tasks/create" th:action="@{/tasks/create}" method="post" th:object="${task}">
        <div>
            <div>
                <input id="title" name="title" type="text" class="validate" th:field="*{title}" th:value="*{title}" required/>
                <label for="title">Title</label>
            </div>
        </div>
        <div>
            <div>
                <textarea id="body" name="description" th:field="*{description}" th:value="*{description}" required></textarea>
                <label for="body">Body</label>
            </div>
        </div>
        <div>
            <div>
                <input type="datetime-local" name="startDate" id="startDate" th:field="*{startDateTime}" th:value="*{startDateTime}"/>
                <label for="startDate">Start</label>
            </div>
        </div>
        <div>
            <div>
                <input type="datetime-local" name="endDate" id="endDate" th:field="*{endDateTime}" th:value="*{endDateTime}"/>
                <label for="endDate">Finish</label>
            </div>
        </div>
        <div>
            <div>
                <label for="category">Category</label>
                <select name="category" id="category" th:value="*{category}">
                    <option value="1">Finance</option>
                    <option value="2">Health</option>
                    <option value="3">Family</option>
                    <option value="4">Social</option>
                    <option value="5">Work</option>
                    <option value="6">Academic</option>
                    <option value="7">Hobbies</option>
                    <option value="8" selected>Misc.</option>
                </select>
            </div>
        </div>
        <button type="submit" value="submit">Submit</button>
    </form>
</main>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>