<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-securityv">
<head>
    <meta charset="UTF-8"/>
    <title>Tasks</title>
    <th:block th:include="partials/head :: head-links"></th:block>
</head>
<body>
<nav th:replace="partials/topnav :: topnav (topNavTitle = 'All Tasks')"></nav>
<div th:replace="partials/sidenav :: sidenav"></div>
<main class="main">
    <div class="h-100 container-fluid">
        <h1>BrainDump</h1>
        <div class="d-flex flex-row-reverse">
            <!--BUTTON TO CALL MODAL MISSING DATA-TARGET ATTRIBUTE-->
            <a th:href="@{tasks/create}" class="btn btn-primary">Add to BrainDump</a>
        </div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-unscheduled-tab" data-toggle="pill" href="#pills-unscheduled" role="tab" aria-controls="pills-unscheduled" aria-selected="true">Unscheduled</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-scheduled-tab" data-toggle="pill" href="#pills-scheduled" role="tab" aria-controls="pills-scheduled" aria-selected="false">Scheduled</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-completed-tab" data-toggle="pill" href="#pills-completed" role="tab" aria-controls="pills-completed" aria-selected="false">Completed</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-unscheduled" role="tabpanel" aria-labelledby="pills-unscheduled-tab">
                <div th:each="task : ${unscheduledTasks}" class="card col mb-4">
                    <div class="card-body">
                        <form th:action="@{tasks/{id}/delete(id = ${task.id})}"
                              onsubmit="return confirm('Are you sure you want to delete?');" method="POST">
                            <button type="submit" class="close" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </form>
                        <a th:href="@{/tasks/{id} (id = ${task.id})}"><h5 th:text="${task.title}"
                                                                          class="card-title"></h5></a>
                        <h6 class="card-subtitle mb-2 text-muted">Created At: <span class="date"
                                                                                    th:text="${task.createdAt}"></span>
                        </h6>
                        <p th:text="${task.description}" class="card-text"></p>
                        <small class="card-text">Category: <span th:text="${task.category.getName()}"></span></small>
                        <div class="d-flex justify-content-between mt-2" role="group">
                            <!--BUTTON TO CALL MODAL MISSING DATA-TARGET ATTRIBUTE-->
                            <a class="btn btn-primary" th:href="@{/tasks/{id}/edit(id = ${task.id})}">Edit</a>
                            <form th:action="@{/tasks/{id}/complete(id = ${task.id})}" class="flex-end" method="POST">
                                <button type="submit" class="btn btn-success">Mark as Complete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-scheduled" role="tabpanel" aria-labelledby="pills-scheduled-tab">
                <div th:each="task : ${scheduledTasks}" class="card mb-4">
                    <div class="card-body">
                        <form th:action="@{tasks/{id}/delete(id = ${task.id})}"
                              onsubmit="return confirm('Are you sure you want to delete?');" method="POST">
                            <button type="submit" class="close" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </form>
                        <a th:href="@{/tasks/{id} (id = ${task.id})}"><h5 th:text="${task.title}"
                                                                          class="card-title"></h5></a>
                        <h6 class="card-subtitle mb-2 text-muted">Created At: <span class="date"
                                                                                    th:text="${task.createdAt}"></span>
                        </h6>
                        <p th:text="${task.description}" class="card-text"></p>
                        <small class="card-text font-weight-bold">Scheduled for: <span class="date"
                                                                                       th:text="${task.startDateTime}"></span></small>
                        <br>
                        <small class="card-text">Category: <span th:text="${task.category.getName()}"></span></small>
                        <div class="d-flex justify-content-between mt-2" role="group">
                            <a class="btn btn-primary" th:href="@{/tasks/{id}/edit(id = ${task.id})}">Edit</a>
                            <form th:action="@{/tasks/{id}/complete(id = ${task.id})}" class="flex-end" method="POST">
                                <button type="submit" class="btn btn-success">Mark as Complete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-completed" role="tabpanel" aria-labelledby="pills-completed-tab">
                <div th:each="task : ${completedTasks}" class="card mb-4">
                    <div class="card-body completed-task text-muted">
                        <form th:action="@{tasks/{id}/delete(id = ${task.id})}"
                              onsubmit="return confirm('Are you sure you want to delete?');" method="POST">
                            <button type="submit" class="close" aria-label="Close"><span class="pb-5"
                                                                                         aria-hidden="true">&times;</span>
                            </button>
                        </form>
                        <h5 th:text="${task.title}" class="card-title"></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Created At: <span class="date"
                                                                                    th:text="${task.createdAt}"></span>
                        </h6>
                        <p th:text="${task.description}" class="card-text"></p>
                        <small class="card-text">Category: <span th:text="${task.category.getName()}"></span></small>
                        <form th:action="@{/tasks/{id}/complete(id = ${task.id})}" class="mt-2" method="POST">
                            <button type="submit" class="btn btn-success" disabled>Completed!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div th:replace="partials/task-form-modal :: createTaskModal"></div>-->
    <!--    <div th:replace="partials/task-form-modal :: editTaskModal"></div>-->
</main>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>