<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Task Details</title>
    <th:block th:include="partials/head :: head-links"></th:block>
</head>
<body>
<nav th:replace="partials/topnav :: topnav (topNavTitle = 'This Week\'s Tasks')"></nav>
<div th:replace="partials/sidenav :: sidenav"></div>
<main class="main">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body shadow">
                <form th:action="@{tasks/{id}/delete(id = ${task.id})}"
                      onsubmit="return confirm('Are you sure you want to delete?');" method="POST">
                    <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </form>
                <h5 th:text="${task.title}" class="card-title"></h5>
                <h6 class="card-subtitle mb-2 text-muted">Created At: <span class="date"
                                                                            th:text="${task.createdAt}"></span>
                </h6>
                <p th:text="${task.description}" class="card-text"></p>
                <small class="card-text">Category: <span th:text="${task.category.getName()}"></span></small>
                <p th:if="${task.startDateTime != null}" class="card-text font-weight-bold">Scheduled for: <span
                        class="date" th:text="${task.startDateTime}"></span></p>
                <div class="d-flex mt-2">
                    <!--BUTTON TO CALL MODAL MISSING DATA-TARGET ATTRIBUTE-->
                    <a class="btn btn-primary mr-5" th:href="@{/tasks/{id}/edit(id = ${task.id})}">Edit</a>
                    <form th:action="@{/tasks/{id}/complete(id = ${task.id})}" class="flex-end" method="POST">
                        <button type="submit" class="btn btn-success">Mark as Complete</button>
                    </form>
                </div>
                <ul th:if="${subTasks}" class="list-group list-group-flush">
                    <li th:each="subTask : ${subTasks}" class="list-group-item">
                        <h5 class="card-header" th:text="${subTask.title}"></h5>
                        <div class="card-body">
                            <form th:action="@{subTasks/{id}/delete(id = ${subTask.id})}"
                                  onsubmit="return confirm('Are you sure you want to delete?');" method="POST">
                                <input type="hidden" name="taskID" th:value="${task.id}">
                                <button type="submit" class="close" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </form>
                            <h6 class="card-subtitle mb-2 text-muted">Created At: <span class="date"
                                                                                        th:text="${subTask.createdAt}"></span>
                            </h6>
                            <p th:text="${subTask.description}" class="card-text"></p>
                            <p th:if="${subTask.startDateTime != null}" class="card-text font-weight-bold">Scheduled
                                for: <span
                                        class="date" th:text="${subTask.startDateTime}"></span></p>
                            <div class="d-flex mt-2">
                                <!--BUTTON TO CALL MODAL MISSING DATA-TARGET ATTRIBUTE-->
                                <a class="btn btn-primary mr-5" th:href="@{/subTasks/{id}/edit(id = ${subTask.id})}">Edit</a>
                                <form th:action="@{/subTasks/{id}/complete(id = ${subTask.id})}" class="flex-end"
                                      method="POST">
                                    <button type="submit" class="btn btn-success">Mark as Complete</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Button trigger modal -->
            <div class="card-header">
                <a href="" data-toggle="modal" data-target="#createSubTaskModal">
                    + Add Sub-task
                </a>
            </div>
        </div>
        <!--MODAL TO CREATE SUBTASKS -->
        <div class="modal fade" id="createSubTaskModal" tabindex="-1" aria-labelledby="createSubTaskModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send To BrainDump</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/subTasks/create}" method="post" th:object="${newSubTask}">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input id="title" name="title" type="text" class="form-control"
                                       th:field="*{title}"
                                       th:value="*{title}" required/>
                            </div>
                            <div class="form-group">
                                <label for="body">Body</label>
                                <textarea id="body" name="description" class="form-control"
                                          th:field="*{description}"
                                          th:value="*{description}" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="startDate">Start</label>
                                <input type="datetime-local" name="startDate" id="startDate"
                                       class="form-control"
                                       th:field="*{startDateTime}"
                                       th:value="*{startDateTime}"/>
                            </div>
                            <div>
                                <div>
                                    <label for="endDate">Finish</label>
                                    <input type="datetime-local" name="endDate" id="endDate"
                                           class="form-control"
                                           th:field="*{endDateTime}"
                                           th:value="*{endDateTime}"/>
                                </div>
                            </div>
                            <input type="hidden" name="taskID" th:value="${task.id}">
                            <div class="modal-footer">
                                <button type="submit" value="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>