<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<!-- Modal -->
<div th:fragment="createNoteModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send To BrainDump</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:if="${isCreate}" th:action="@{/tasks/create}" method="post" th:object="${task}">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" name="title" type="text" class="form-control" th:field="*{title}"
                               th:value="*{title}" required/>
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea id="body" name="description" class="form-control" th:field="*{description}"
                                  th:value="*{description}" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start</label>
                        <input type="datetime-local" name="startDate" id="startDate" class="form-control"
                               th:field="*{startDateTime}"
                               th:value="*{startDateTime}"/>
                    </div>
                    <div>
                        <div>
                            <label for="endDate">Finish</label>
                            <input type="datetime-local" name="endDate" id="endDate" class="form-control"
                                   th:field="*{endDateTime}"
                                   th:value="*{endDateTime}"/>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="category">Category</label>
                            <select name="category" id="category" th:field="*{category}" class="form-control"
                                    th:value="*{category}">
                                <option value="1">Finance</option>
                                <option value="2">Health</option>
                                <option value="3">Family</option>
                                <option value="4">Social</option>
                                <option value="5">Work</option>
                                <option value="6">Academic</option>
                                <option value="7">Hobbies</option>
                                <option value="8" selected>Misc.</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="submit">Submit</button>
                    </div>
                </form>
                <form th:if="${!isCreate}" th:action="@{/tasks/{id}/edit(id = ${task.id})}" method="post"
                      th:object="${task}">
                    <div class="form-group">
                        <input id="title" name="title" type="text" class="form-control" th:field="*{title}"
                               th:value="*{title}"
                               required/>

                    </div>
                    <div class="form-group">

                            <textarea id="body" name="description" class="form-control" th:field="*{description}"
                                      th:value="*{description}"
                                      required></textarea>
                        <label for="body">Body</label>
                    </div>
                    <div class="form-group">
                        <input type="datetime-local" name="startDate" class="form-control" id="startDate"
                               th:field="*{startDateTime}"
                               th:value="*{startDateTime}"/>
                        <label for="startDate">Start</label>
                    </div>
                    <div class="form-group">
                        <input type="datetime-local" name="endDate" class="form-control" id="endDate"
                               th:field="*{endDateTime}"
                               th:value="*{endDateTime}"/>
                        <label for="endDate">Finish</label>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="category" id="category" class="form-control" th:value="*{category}"
                                th:field="*{category}">
                            <option th:selected="*{category.getId() == 1}" value="1">Finance</option>
                            <option th:selected="*{category.getId() == 2}" value="2">Health</option>
                            <option th:selected="*{category.getId() == 3}" value="3">Family</option>
                            <option th:selected="*{category.getId() == 4}" value="4">Social</option>
                            <option th:selected="*{category.getId() == 5}" value="5">Work</option>
                            <option th:selected="*{category.getId() == 6}" value="6">Academic</option>
                            <option th:selected="*{category.getId() == 7}" value="7">Hobbies</option>
                            <option th:selected="*{category.getId() == 8}" value="8" selected>Misc.</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>