<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="createNoteModal" class="modal fade" id="createNoteModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send To BrainDump</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/notes/create}" method="post" th:object="${newNote}">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" name="title" type="text" class="form-control" th:field="*{title}"
                               th:value="*{title}" required/>
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea id="body" name="body" class="form-control" th:field="*{body}"
                                  th:value="*{body}" required></textarea>
                    </div>
                    <div>
                        <div>
                            <label for="category">Category</label>
                            <select name="category" id="category" th:field="*{category}" class="form-control"
                                    th:value="*{category}">
                                <option value="1">Finance</option>
                                <option value="2">Health</option>
                                <option value="3">Family</option>
                                <option value="4">Social</option>
                                <option value="5">Work</option>
                                <option value="6">Academic</option>
                                <option value="7">Hobbies</option>
                                <option value="8" selected>Misc.</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:fragment="editNoteModal" class="modal fade" id="editNoteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Send To BrainDump</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/notes/{id}/edit(id = ${note.id})}" method="post"
                      th:object="${note}">
                    <div class="form-group">
                        <input id="title" name="title" type="text" class="form-control" th:field="*{title}"
                               th:value="*{title}"
                               required/>
                    </div>
                    <div class="form-group">

                            <textarea id="body" name="body" class="form-control" th:field="*{body}"
                                      th:value="*{body}"
                                      required></textarea>
                        <label for="body">Body</label>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="category" id="category" class="form-control" th:value="*{category}"
                                th:field="*{category}">
                            <option th:selected="*{category.getId() == 1}" value="1">Finance</option>
                            <option th:selected="*{category.getId() == 2}" value="2">Health</option>
                            <option th:selected="*{category.getId() == 3}" value="3">Family</option>
                            <option th:selected="*{category.getId() == 4}" value="4">Social</option>
                            <option th:selected="*{category.getId() == 5}" value="5">Work</option>
                            <option th:selected="*{category.getId() == 6}" value="6">Academic</option>
                            <option th:selected="*{category.getId() == 7}" value="7">Hobbies</option>
                            <option th:selected="*{category.getId() == 8}" value="8" selected>Misc.</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>