<div th:fragment="sidenav" id="mySidenav" class="sidenav container-fluid p-0">
    <div class="row justify-content-center">
        <a th:href="@{/dashboard}"><img style="height: 150px; width:150px" th:src="@{/img/app-logo.png}"></a>
        <ul>
            <li><a class="sidenav-link" th:href="@{/tasks}">My Tasks</a></li>
            <li><a class="sidenav-link" th:href="@{/notes}">Notes</a></li>
            <li><a class="sidenav-link" th:href="@{/profile}">View My Profile</a></li>
            <li><a class="sidenav-link" th:href="@{/tasks/create}">Start a BrainDump</a></li>
        </ul>
    </div>
</div>
