<div th:fragment="sidenav" id="mySidenav" class="sidenav container-fluid p-0">
    <div class="row justify-content-center">
        <a th:href="@{/dashboard}"><img style="height: 150px; width:150px" th:src="@{/img/app-logo.png}"></a>
        <ul>
            <li>
                <div class="dropdown">
                    <a class="sidenav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Tasks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/tasks}">All</a>
                        <a class="dropdown-item" th:href="@{/tasks/today}">Today</a>
                        <a class="dropdown-item" th:href="@{/tasks/this-week}">This Week</a>
                        <a class="dropdown-item" href="#">This Month</a>
                        </form>
                    </div>
                </div>
            </li>
            <li><a class="sidenav-link" th:href="@{/notes}">Notes</a></li>
        </ul>
    </div>
</div>
