<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav th:fragment="topnav" class="navbar navbar-expand-lg navbar-dark bg-dark topnav-start">
    <div class="container-fluid">
        <h3 class="navbar-brand">Hello there!</h3>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>