<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <th:block th:include="partials/head :: head-links"></th:block>
</head>
<body>
<nav th:replace="partials/topnav :: topnav (topNavTitle = 'Welcome, ' + ${currentUser.getFirstName()} + ' ' + ${currentUser.getLastName()} + '!')"></nav>
<div th:replace="partials/sidenav :: sidenav"></div>
<main class="main">
    <div class="container-fluid">
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout">
        </form>
        <div class="w-50">
            <h4>Quote of the Day</h4>
            <span id="quote"></span>
            <br>
            <span id="author"></span>
        </div>
        <h1>Progress Report: </h1>
        <div id="radialBarChart"></div>
        <div id="donutChart"></div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var options = {
        chart: {
            height: 350,
            type: 'radialBar',
        },
        series: [70],
        labels: ['Progress'],
    }

    var chart = new ApexCharts(document.querySelector("#radialBarChart"), options);

    chart.render();
</script>
<script>
    var options = {
        chart: {
            height: 350,
            type: 'donut'
        },
        series: [25, 25, 25, 25],
        labels: ['Apple', 'Mango', 'Orange', 'Watermelon'],
    }

    var chart = new ApexCharts(document.querySelector("#donutChart"), options);
    chart.render();
</script>
<!--<script>-->
<!--    var requestOptions = {-->
<!--        method: 'GET',-->
<!--        redirect: 'follow'-->
<!--    };-->

<!--    fetch("https://quotes.rest/qod", requestOptions)-->
<!--        .then(response => response.json())-->
<!--        .then(result => console.log(result.contents.quotes[0].quote))-->
<!--        .catch(error => console.log('error', error));-->
<!--</script>-->
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>