body {
    font-family: 'Dosis', sans-serif !important;
}

.completed-task {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    color: rgba(130, 130, 130, 0.5);
}

.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

#calendar {
    max-height: 90vh;
}

.task-tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
}

.task-details {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.collapsible {
    cursor: pointer;
    border: none;
    outline: none;
}

.collapse {
    color: #122638;
}

.green-indicator {
    height: 1em;
    width: 1em;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.yellow-indicator {
    height: 1em;
    width: 1em;
    background-color: #c6c600;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.orange-indicator {
    height: 1em;
    width: 1em;
    background-color: #d48b00;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.red-indicator {
    height: 1em;
    width: 1em;
    background-color: #c90000;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

/* Prussian Blue = #122638 */
/* Pewter Blue = #97ABB1 */
/* Buff (yellow) = #F5DD90 */
/* Old Rose = #C78283 */
/* Melon = #FFA69E */

/*.btn {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*    border-radius: .25rem;*/
/*}*/

/*.btn-primary:hover {*/
/*    background-color: #fff;*/
/*    color: #C78283;*/
/*    border-color: #C78283;*/
/*}*/

/*.btn-primary {*/
/*    background-color: #C78283;*/
/*    color: #fff;*/
/*    border-color: #C78283;*/
/*}*/

/*.btn-success:hover {*/
/*    background-color: #122638;*/
/*    color: #F5DD90;*/
/*    border-color: #F5DD90;*/
/*}*/

/*.btn-success {*/
/*    background-color: #F5DD90;*/
/*    color: #122638;*/
/*    border-color: #F5DD90;*/
/*}*/

/*.card-title {*/
/*    color: #FFA69E;*/
/*}*/