<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Create Note</title>
    <th:block th:include="partials/head :: head-links"></th:block>
</head>
<body>
<nav th:replace="partials/topnav :: topnav (topNavTitle = 'Add Entry')"></nav>
<div class="container-fluid">
    <h1 class="text-center mt-3">New Note Entry</h1>
    <form class="w-50 m-auto" th:if="${isCreate}" th:action="@{/notes/create}" method="post" th:object="${newNote}">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" class="form-control" th:field="*{title}"
                   th:value="*{title}" required/>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea id="body" name="body" class="form-control" th:field="*{body}"
                      th:value="*{body}" required></textarea>
        </div>
        <div>
            <label for="category">Category</label>
            <select name="category" id="category" th:field="*{category}" class="form-control"
                    th:value="*{category}">
                <option value="1">Finance</option>
                <option value="2">Health</option>
                <option value="3">Chores</option>
                <option value="4">Social</option>
                <option value="5">Work</option>
                <option value="6">Academic</option>
                <option value="7">Hobbies</option>
                <option value="8" selected>Misc.</option>
            </select>
        </div>
        <br>
        <button class="btn btn-primary w-100" type="submit" value="submit">Submit</button>
    </form>
    <form th:if="${!isCreate}" th:action="@{/notes/{id}/edit(id = ${note.id})}" method="post" th:object="${note}">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" class="form-control" th:field="*{title}"
                   th:value="*{title}" required/>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea id="body" name="description" class="form-control" th:field="*{body}"
                      th:value="*{body}" required></textarea>
        </div>
        <div>
            <label for="category">Category</label>
            <select name="category" id="category" th:field="*{category}" class="form-control"
                    th:value="*{category}">
                <option value="1">Finance</option>
                <option value="2">Health</option>
                <option value="3">Chores</option>
                <option value="4">Social</option>
                <option value="5">Work</option>
                <option value="6">Academic</option>
                <option value="7">Hobbies</option>
                <option value="8" selected>Misc.</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit" value="submit">Submit</button>
    </form>
</div>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>