<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Notes</title>
    <th:block th:include="partials/head :: head-links"></th:block>
</head>
<body>
<nav th:replace="partials/topnav :: topnav (topNavTitle = 'My Notes')"></nav>
<div th:replace="partials/sidenav :: sidenav"></div>
<main class="main">
    <div class="container-fluid">
        <h1 class="text-center">All Notes</h1>
        <div class="d-flex flex-row-reverse mb-5">
            <!--BUTTON TO CALL MODAL MISSING DATA-TARGET ATTRIBUTE-->
            <a th:href="@{notes/create}" class="btn btn-primary">Add to Notes</a>
        </div>
        <div th:each="note : ${notes}" class="card mb-3">
            <h5 class="card-header date" th:text="${note.createdAt}"></h5>
            <div class="card-body">
                <form th:action="@{notes/{id}/delete(id = ${note.id})}"
                      onsubmit="return confirm('Are you sure you want to delete?');" method="POST">
                    <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </form>
                <h5 class="card-title" th:text="${note.title}"></h5>
                <p class="card-text" th:text="${note.body}"></p>
                <small class="card-text">Category: <span th:text="${note.category.getName()}"></span></small>
                <br>
                <br>
                <a class="btn btn-primary" th:href="@{/notes/{id}/edit(id = ${note.id})}">Edit</a>
            </div>
        </div>
    </div>
</main>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>