<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome!</title>
    <th:block th:include="partials/head :: head-links"></th:block>
</head>
<body>
<nav th:replace="partials/homenav :: homenav"></nav>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">BackUp Brain</h1>
            <p class="lead">A place where you schedule and track tasks that you need to do. Whether it's going grocery shopping, work tasks, events, or even giving your loved ones a call, BackUp Brain give you a space to store the things you need to remember and keep you on track.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="lead">Track Your Progress on your tasks for the day. Focus on today's task, so that you don't feel overwhelmed with the other tasks ahead of you.</p>
        </div>
        <div class="col-md-8">
            <img class="w-100" th:src="@{/img/progress.png}" alt="Visual donut graph of % completion.">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="w-100" th:src="@{/img/donut-graph.png}" alt="Visual donut graph displaying the categorical make up of your tasks.">
        </div>
        <div class="col-md-9 d-flex">
            <div class="align-items-center">
                <p class="lead">Display the categorical composition of what all of your tasks consist of and determine how well you are balancing your work, social, and academic experiences.</p>

            </div>
        </div>
    </div>
</div>
</body>
</html>